.body_edit{
  background:#F9FAFB;
  font-family: 'Inter';
  display:grid;
  place-content: center;
  position: relative;
  height: 90vh;
  margin: 0;
  padding: 0;
}
.section_edit {
  width: 640px;
  height: 400px; 
  border-radius: 32px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  overflow-y: scroll; 
}

.entire_box_edit{
  display: flex;
  padding: 0px 2px 0px 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 800px;
}

.catchJob_edit{
  color: #000;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  position: fixed;
  top: 60px;
}

.catchJob_edit .red_letter{
  color:#E2432E;
  font-size: 56px;
}

.edit_inform{
  margin-top: 150px;
  margin-bottom:50px;
}

.errorMent{
  display: flex;
  color:#E2432E;
  width:400px;
  height: 50px;
  margin-top: 20px;
  right:-20px;
}

.personDate{
  position: relative;
  justify-content: center;
  right:80px;
}

.input_container_basic {
  position: relative;
  display: flex;
  left:20px;
}

.input_box_basic {
  width: 320px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
}

.eye_icon_basic {
  position: absolute;
  top: 35%;
  right: 140px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #444444;
}

.input_box_edit{
  position: fixed;
  display: flex;
  left: 330px;
  width: 100px;
  margin-left: 20px;
}

.enroll_edit{
  display: flex;
  width: 75px;
  height: 42px;
  padding: 9.81px 2px 9.19px 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  background: #E2432E;
  font-weight: bold;
  color:#FFF;
  margin: 0px 30px 10px 20px;
  font-size: 14px;
}

.enroll_edit:active{
  background-color: #ffffff;
  border: none;
}

