.button {
  display: flex;
  width: 342px;
  border-radius: 4px;
  height: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  top: 510px;
  background: #ffffff;
  border: 1px solid #ccc;
}

.buttonIconGoogle {
  width: 24px;
  height: 24px;
  background: url("../img/ico-google.png"), 0px 0px / 100% 100% no-repeat;
  margin-right: 10px;
}

.buttonText{
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
  
}

.button:active{
    background-color: #ffffff;
    border: none;
}